#C0114 - Missing module docstring
#C0115 - Missing class docstring
#C0116 - Missing function docstring
#R0903 - Too few public methods
#W0105 - Pointless string statement
#W0201 - Attribute defined outside init
#W0237 - Arguments-renamed
#W0613 - Unused argument
#W0707 - Consider explicitly re-raising using the 'from' keyword (raise-missing-from)

[MASTER]

load-plugins=pylint_django
ignore= migrations


[FORMAT]

max-line-length=120

[MESSAGES CONTROL]

disable =
    C0114,
    C0115,
    C0116,
    R0903,
    W0105,
    W0201,
    W0237,
    W0613,
    W0707
